// Form

.t-form
  position: relative

.t-form__element
  display: flex
  flex-flow: column
  margin-bottom: 20px
  &:last-of-type
    margin-bottom: 0

// Input base

.input-wrapper
  position: relative

.input-wrapper__title
  font-size: 12px
  font-weight: 700
  line-height: 1
  color: $darkShade
  text-transform: uppercase
  margin-bottom: 5px

  &_no-field
    margin-bottom: 16px

.input-wrapper__field
  position: relative
  height: 44px
  padding: 13px 15px
  border: solid $darkShade25 1px
  border-radius: 4px
  color: $darkShade75
  line-height: 18px
  transition: all .25s ease-in-out
  &::placeholder
    color: $darkShade25
  &:focus, &:hover
    border-color: $darkShade50

.input-wrapper__field_drop-down
  position: relative
  border-radius: 4px 4px 0 0
  &::after
    content: ''
    position: absolute
    background: url(../images/svg/dropdown-arrow.svg) no-repeat center center
    border: none
    bottom: 0
    right: 0
    height: 44px
    width: 44px

// Subscribe button

.input-wrapper__subscribe
  position: absolute
  background: url(../images/svg/subscribe-arrow.svg) no-repeat center center
  border: none
  bottom: 0
  right: 0
  height: 44px
  width: 44px

// Dropdown element

.input-wrapper:hover
  .input-wrapper__select
    transform: scaleY(1)
    opacity: 1

.input-wrapper__select
  position: absolute
  transform-origin: top
  display: block
  overflow: hidden
  z-index: 100
  top: 100%
  left: 0
  right: 0
  transform: scaleY(0)
  opacity: 0
  transition: all .25s ease-in-out

.dropdown-select
  list-style-type: none
  margin: 0
  border: solid 1px $darkShade50
  border-top: none
  border-radius: 0 0 4px 4px
  padding: 15px
  background-color: #fff

.dropdown-select__option
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 7px
  &:hover
    cursor: default
  &:last-child
    margin-bottom: 0

.dropdown-select__counter
  display: flex
  justify-content: space-between
  align-items: center

.dropdown-select__minus, .dropdown-select__plus
  height: 30px
  width: 30px
  box-sizing: border-box
  border-radius: 50%
  border: 1px solid $darkShade25
  color: $darkShade50
  background: none
  transition: opacity .25s ease-in-out
  &:first-child
    margin-right: 12px
  &:last-child
    margin-left: 12px

  &_disable
    opacity: .38

.dropdown-select__title, .dropdown-select__count
  font-size: 12px
  line-height: 0
  font-weight: 700
  text-transform: uppercase

.dropdown-select__buttons
  display: flex
  margin-top: 20px

.dropdown-select__clear
  margin-rigth: auto

.dropdown-select__accept
  margin-left: auto

.dropdown-select__clear, .dropdown-select__accept
  border: none
  color: $purple
  font-size: 12px
  font-weight: 700
  background: none
  text-transform: uppercase

// Checkbox, radio, toggle buttons

.input-wrapper__check-list
  list-style-type: none
  margin: 0
  padding: 0

.input-wrapper__check-button
  margin-bottom: 11px
  &:last-of-type
    margin-bottom: 0

// checkbox, radio, toggle border

.input-wrapper__checkbox,
.input-wrapper__radio,
.input-wrapper__toggle
  height: 20px
  width: 20px
  border: 1px solid $darkShade25
  flex-shrink: 0
  margin-right: 10px
  transition: border-color .25s ease-in-out

.input-wrapper__checkbox
  border-radius: 4px

.input-wrapper__radio
  border-radius: 50%

.input-wrapper__toggle
  width: 40px
  border-radius: 10px

// checkbox (check)

.input-wrapper__checkbox
  position: relative

  &::before,
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    width: 0px
    transition: all .25s ease-in-out

  &::before
    height: 6px
    transform: translateX(-100%) translateY(-50%) rotate(315deg)
    transform-origin: 3px 6px
    background: linear-gradient(to right, rgba(139,164,249,1) 0%, rgba(151,162,251,1) 100%)

  &::after
    height: 8px
    transform: translateX(-100%) translateY(-50%) rotate(45deg)
    transform-origin: 2px 8px
    background: linear-gradient(to bottom, rgba(187,156,255,1) 0%, rgba(139,164,249,1) 100%)

// radio (check)

.input-wrapper__radio
  position: relative
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    width: 0px
    height: 0px
    background: linear-gradient(to bottom, rgba(187,156,255,1) 0%, rgba(139,164,249,1) 100%)
    border-radius: 50%
    transition: all .25s ease-in-out

// toggle (check)

.input-wrapper__toggle
  position: relative
  &::before,
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translateX(-125%) translateY(-50%)
    width: 12px
    height: 12px
    border-radius: 50%
    transition: all .25s ease-in-out

  &::before
    background: linear-gradient(to bottom, rgba(187,156,255,1) 0%, rgba(139,164,249,1) 100%)

  &::after
    background: #C7C7CF

// Label checkbox radio toggle

.input-wrapper__check-label
  color: $darkShade50
  display: flex
  flex-flow: row nowrap

  // dynamic 
    
  input[type='checkbox'],
  input[type='radio']
    position: absolute
    z-index: -1
    opacity: 0

    &:checked + .input-wrapper_

      // border color

      &_checkbox,
      &_radio,
      &_toggle
        border-color: $purple

      // checkbox (check)

      &_checkbox
        &::before
          width: 2px
        &::after
          width: 2px

      // radio (check)

      &_radio
        &::before
          width: 12px
          height: 12px

      // toggle (check)

      &_toggle
        &::before,
        &::after
          transform: translateX(30%) translateY(-50%)
        &::after
          opacity: 0
