// Dropdown element

// Dropdown mod

.input-wrapper__field
  &.input-wrapper__field_dropdown
    cursor: pointer
    position: relative
    white-space: nowrap
    border-radius: 4px 4px 0 0
    &::after
      content: ''
      position: absolute
      background: url(../images/svg/dropdown-arrow.svg) no-repeat center center
      border: none
      bottom: 0
      right: 0
      height: 44px
      width: 44px
      transition: all .25s ease-in-out

// Dropdown active mod
.input-wrapper__field_dropdown
  &.input-wrapper__field_dropdown-active
    border-color: $darkShade50
    &::after
      transform: scaleY(-1)

    & + .input-wrapper__select
      transform: scaleY(1)
      opacity: 1

.input-wrapper__select
  position: absolute
  transform-origin: top
  display: block
  overflow: hidden
  z-index: 100
  top: 100%
  left: 0
  right: 0
  transform: scaleY(0)
  opacity: 0.5
  transition: all .25s ease-in-out

.dropdown-select
  list-style-type: none
  margin: 0
  border: solid 1px $darkShade50
  border-top: none
  border-radius: 0 0 4px 4px
  padding: 15px
  background-color: #fff

.dropdown-select__option
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 7px
  &:hover
    cursor: default
  &:last-child
    margin-bottom: 0

.dropdown-select__counter
  display: flex
  justify-content: space-between
  align-items: center

.dropdown-select__minus, .dropdown-select__plus
  height: 30px
  width: 30px
  box-sizing: border-box
  border-radius: 50%
  border: 1px solid $darkShade25
  color: $darkShade50
  background: none
  transition: opacity .25s ease-in-out

  &_disable
    opacity: .38

.dropdown-select__title, .dropdown-select__total
  font-size: 12px
  line-height: 0
  font-weight: 700
  text-transform: uppercase
  min-width: 32px
  text-align: center

.dropdown-select__buttons
  display: flex
  margin-top: 20px

.dropdown-select__clear
  margin-rigth: auto

.dropdown-select__accept
  margin-left: auto

.dropdown-select__clear, .dropdown-select__accept
  border: none
  color: $purple
  font-size: 12px
  font-weight: 700
  background: none
  text-transform: uppercase
  &:disabled
    display: none
