include ./components/head
include ./components/footer
include ./components/form-elements/input-field/text-input
include ./components/form-elements/input-field/dropdown-input


+head() 

body 

  header.header-ui.container
    img(src="images/svg/toxin.svg" alt="toxin поиск номеров в отелях")

  main.container

    //- Intro
    section.section-ui 

      h1#intro
        | UI-Kit Макет

      p.t-text
        | UI-Kit — это единый макет дизайна и единая страница верстки, с которой берут типовые блоки и используют в конечных страницах.

    //- Colors & Type
    section.section-ui 

      h2#colorsAndFonts
        | Colors & Type 

      .colors-fonts 

        //- Colors
        ul.colors-block-ui
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade  
            .colors-block-ui__title 
              span Dark Shade 100%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade75 
            .colors-block-ui__title 
              span Dark Shade 75%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade50  
            .colors-block-ui__title 
              span Dark Shade 50%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade25  
            .colors-block-ui__title 
              span Dark Shade 25%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade5  
            .colors-block-ui__title 
              span Dark Shade 5%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_purple  
            .colors-block-ui__title 
              span Purple
              span #BC9CFF
          li 
            .colors-block-ui__square.colors-block-ui__square_green  
            .colors-block-ui__title 
              span Green
              span #6FCF97

        //- Text type
        ul.type-block-ui
          li
            span.type-block-ui__h1 H1
            h1 This one is the sub-section or widget title
          li
            span.type-block-ui__h2 H2
            h2 Next one is the item title inside widgets
          li
            span.type-block-ui__h3 H3
            h3 This is a label or CTA text
          li
            span.type-block-ui__text Body
            p.text This is the body text which is used for most of the design, like paragraphs, lists, etc.

    //- Form Elements
    section.section-ui 

      h2#formElements Form Elements
      //- Basic elements
      .form-elements-block-ui 
        .form-elements-block-ui__column320
          //- Form
          form.form-ui(type="get")

            //- Text form
            -
              var options = {
                title: "text field", 
                id: "textField", 
                name: "textField", 
                placeholder: "Some text..."
              }

            +text-input(options)

            //- Subscription form
            -
              var options = {
                type: "subscribe",
                title: "subscription text field", 
                id: "maskedEmail", 
                name: "maskedEmail", 
                placeholder: "Email"
              }

            +text-input(options)

            //- Masked form
            -
              var options = {
                title: "masked text field", 
                id: "maskedDate", 
                name: "maskedDate", 
                placeholder: "ДД.ММ.ГГГГ"
              }

            +text-input(options)

            //- Dropdown element
            -
              var options = {
                title: "dropdown",
                placeholder: "Сколько гостей",
                class: "showTotal",
                items: [
                  {
                    title: "взрослые",
                    "default-value": 2,
                  },
                  {
                    title: "Дети",
                    "default-value": 1,
                  },
                  {
                    title: "Младенцы",
                    "default-value": 0,
                  }
                ]
              }

            +dropdown-input(options)

            -
              var options = {
                title: "dropdown",
                placeholder: "Сколько комнат и кроватей",
                class: "showTotal",
                items: [
                  {
                    title: "спальни",
                    "default-value": 2,
                  },
                  {
                    title: "кровати",
                    "default-value": 2,
                  },
                  {
                    title: "ванные комнаты",
                    "default-value": 0,
                  }
                ]
              }

            +dropdown-input(options)

            //- Expandable Checkbox list
            div.form__element-ui.input-wrapper.input-wrapper_checklist-dropdown
              span.input-wrapper__title.input-wrapper__title_no-field expandable checkbox list 
              ul.input-wrapper__check-list
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="smoke")
                    div.input-wrapper__checkbox
                    span.input-wrapper__text Можно курить
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="pets")
                    div.input-wrapper__checkbox
                    span.input-wrapper__text Можно с питомцами
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="party")
                    div.input-wrapper__checkbox
                    span.input-wrapper__text Можно пригласить гостей (до 10 человек)

        //- max width 260px
        div.form-elements-block-ui__column260
          form.form-ui(type="get")

            //- Checkbox buttons
            div.form__element-ui.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field Checkbox buttons 
              ul.input-wrapper__check-list
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="smoke")
                    div.input-wrapper__checkbox
                    span.input-wrapper__text Можно курить
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="pets")
                    div.input-wrapper__checkbox
                    span.input-wrapper__text Можно с питомцами
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="party")
                    div.input-wrapper__checkbox
                    span.input-wrapper__text Можно пригласить гостей (до 10 человек)

            //- Radio buttons
            div.form__element-ui.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field Radio Buttons 
              ul.input-wrapper__check-list
                li.input-wrapper__check-button
                  label.input-wrapper__check-label
                    input(type="radio" name="sex")
                    div.input-wrapper__radio
                    span.input-wrapper__text Мужчина
                li.input-wrapper__check-button
                  label.input-wrapper__check-label
                    input(type="radio" name="sex")
                    div.input-wrapper__radio
                    span.input-wrapper__text Женщина

            //- Toggle
            div.form__element-ui.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field toggle
              ul.input-wrapper__check-list
                li.input-wrapper__check-button
                  label.input-wrapper__check-label
                    input(type="checkbox" name="privacy")
                    div.input-wrapper__toggle
                    span.input-wrapper__text Можно курить
                li.input-wrapper__check-button
                  label.input-wrapper__check-label
                    input(type="checkbox" name="subscribe")
                    div.input-wrapper__toggle
                    span.input-wrapper__text Можно с питомцами

            //- Like button
            div.form__element-ui.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field like button
              div.form-elements-block-ui__row
                div.input-wrapper__like-button
                  span.input-wrapper__like-counter 2
                div.input-wrapper__like-button.input-wrapper__like-button_active
                  span.input-wrapper__like-counter 22

            //- Rate button
            div.form__element-ui.input-wrapper

              span.input-wrapper__title.input-wrapper__title_no-field Rate button
              div.form-elements-block-ui__row
                div.input-wrapper__rate-button
                  input(type="number" hidden value="0")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="1")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="2")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="3")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="4")
                  div.input-wrapper__rate-star(data-rate="5")
                div.input-wrapper__rate-button
                  input(type="number" hidden value="0")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="1")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="2")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="3")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="4")
                  div.input-wrapper__rate-star.input-wrapper__rate-star_active(data-rate="5")

            //- Rich checkbox buttons
            div.form__element-ui.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field Checkbox buttons 
              ul.input-wrapper__check-list
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="smoke")
                    div.input-wrapper__checkbox
                    div.input-wrapper__rich-wrapper
                      span.input-wrapper__richt-label Широкий коридор
                      span.input-wrapper__text Ширина коридоров в номере
                        br
                        | не менее 91 см.
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="smoke")
                    div.input-wrapper__checkbox
                    div.input-wrapper__rich-wrapper
                      span.input-wrapper__richt-label Помощник для инвалидов
                      span.input-wrapper__text На 1 этаже вас встретит специалист
                        br
                        | и проводит до номера.

        //- other elements
        div.form-elements-block-ui__column320
          form.form-ui(type="get")

            //- Range slider
            div.form__element-ui.input-wrapper
              div.input-wrapper__range-header
                span.input-wrapper__title.input-wrapper__title_no-field Range slider
                span.input-wrapper__range-counter 5 000₽ - 10 000₽
              input.input-wrapper__range-slider(type="text" id="example_id" name="example_name" value="")

            //- Buttons            
            div.form__element-ui.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field Buttons 
              div.form-elements-block-ui__row
                button.button-wrapper(type="button")
                  | Click me
                button.button-wrapper(type="button" disabled)
                  | Click me
              div.form-elements-block-ui__row
                button.button-wrapper.button-wrapper_border(type="button")
                  | Click me
                button.button-wrapper.button-wrapper_border(type="button" disabled)
                  | Click me
              div.form-elements-block-ui__row
                button.button-wrapper.button-wrapper_only-text(type="button")
                  | Click me
                button.button-wrapper.button-wrapper_only-text(type="button" disabled)
                  | Click me
              div.form-elements-block-ui__row
                button.button-wrapper.button-wrapper_large(type="button")
                  | перейти к оплате

            //- Pagination
            div.form__element-ui.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field pagination
              div.content
              div.input-wrapper__pagination

            //- Bullet list
            div.form__element-ui.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field Bullet list
              ul.input-wrapper__bullet-list
                li.input-wrapper__bullet-item Нельзя с питомцами
                li.input-wrapper__bullet-item Без вечеринок и мероприятий
                li.input-wrapper__bullet-item Время прибытия — после 13:00,
                  br
                  | а выезд до 12:00

    //- Icon list and comment
    section.section-ui 

      div.icons-comments-block-ui

        //- Icon list
        ul.icon-list 
          li.icon-list__item 
            img.icon-list__icon(src="images/svg/smile.svg" alt="smile")
            div.icon-list__label
              span.icon-list__heading Комфорт
              span.icon-list__text Шумопоглащающие стены
          li.icon-list__item 
            img.icon-list__icon(src="images/svg/city.svg" alt="smile")
            div.icon-list__label
              span.icon-list__heading Удобство
              span.icon-list__text Окно в каждой из спален

        //- Comment
        ul.comment-list 
          li.comment 
            div.comment__header
              img.comment__avatar(src="images/dist/comments/1.jpg" alt="Murad Sarafanov")
              div.comment__author
                span.comment__name Мурад Сарафанов
                span.comment__date 5 дней назад
            div.comment__content
              div.comment__like.input-wrapper
                div.form-elements-block-ui__row
                  div.input-wrapper__like-button
                    span.input-wrapper__like-counter 2
              p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
                br
                | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто
                br
                | не жаловался из соседей.

  +footer

