include ./parts/header
include ./parts/footer

+header() 

body 

  h1 Start catalog 

  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Имени его но запятой пояс предупреждал, пустился буквоград правилами меня текста снова грустный раз. Обеспечивает ты живет буквенных, инициал подзаголовок собрал эта подпоясал первую. Раз текст, которое собрал проектах даже рукописи, правилами осталось снова живет решила рыбными послушавшись запятых взгляд.
  
  +footer

