include ./components/head
include ./components/footer
include ./components/form-elements/form-elements
include ./components/icons-list/icons-list
include ./components/comments-list/comments-list


+head() 

body 

  header.header-ui.container
    img(src="images/svg/toxin.svg" alt="toxin поиск номеров в отелях")

  main.container

    //- Intro
    section.section-ui 

      h1#intro
        | UI-Kit Макет

      p.t-text
        | UI-Kit — это единый макет дизайна и единая страница верстки, с которой берут типовые блоки и используют в конечных страницах.

    //- Colors & Type
    section.section-ui 

      h2#colorsAndFonts
        | Colors & Type 

      .colors-fonts 

        //- Colors
        ul.colors-block-ui
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade  
            .colors-block-ui__title 
              span Dark Shade 100%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade75 
            .colors-block-ui__title 
              span Dark Shade 75%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade50  
            .colors-block-ui__title 
              span Dark Shade 50%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade25  
            .colors-block-ui__title 
              span Dark Shade 25%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade5  
            .colors-block-ui__title 
              span Dark Shade 5%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_purple  
            .colors-block-ui__title 
              span Purple
              span #BC9CFF
          li 
            .colors-block-ui__square.colors-block-ui__square_green  
            .colors-block-ui__title 
              span Green
              span #6FCF97

        //- Text type
        ul.type-block-ui
          li
            span.type-block-ui__h1 H1
            h1 This one is the sub-section or widget title
          li
            span.type-block-ui__h2 H2
            h2 Next one is the item title inside widgets
          li
            span.type-block-ui__h3 H3
            h3 This is a label or CTA text
          li
            span.type-block-ui__text Body
            p.text This is the body text which is used for most of the design, like paragraphs, lists, etc.

    //- Form Elements
    section.section-ui 

      h2#formElements Form Elements
      //- Basic elements
      .form-elements-block-ui 
        .form-elements-block-ui__column320
          //- Form
          form

            //- Text form

            div.inputs-block

              -
                var options = {
                  header: "text field",

                  items: [
                    {
                      id: "textField",
                      name: "textField",
                      placeholder: "Some text field 1...",
                      required: true
                    },
                    {
                      id: "textField",
                      name: "textField",
                      placeholder: "Some text field 2...",
                    }

                  ]
                };

              +text-input(options)

            //- Expandable Text form

            div.inputs-block

              -
                var options = {
                  header: "expandable text field",
                  dropdown: true,
                  items: [
                    {
                      id: "textField",
                      name: "textField",
                      placeholder: "Some text field 1...",
                      required: true
                    },
                    {
                      id: "textField",
                      name: "textField",
                      placeholder: "Some text field 2...",
                    }

                  ]
                };

              +text-input(options)

            //- Subscription form

            div.inputs-block

              -
                var options = {

                  header: "subscription text field", 

                  items: [
                    {
                      id: "maskedEmail",
                      name: "maskedEmail",
                      placeholder: "Email",
                      subscribe: true,
                    },
                    {
                      id: "maskedEmail",
                      name: "maskedEmail",
                      placeholder: "Email",
                    }
                  ]
                }

              +text-input(options)

            //- Masked form

            div.inputs-block

              -
                var options = {

                  header: "masked text field", 

                  items: [
                    {
                      id: "maskedDate",
                      name: "maskedDate",
                      placeholder: "ДД.ММ.ГГГГ",
                    }
                  ]
                }

              +text-input(options)

            //- Dropdown

            div.inputs-block

              if (options.header)
                span.inputs-block__header(for="dropdown") #{options.header}

              div.dropdown

            //- Dropdown 2

            div.inputs-block

              if (options.header)
                span.inputs-block__header(for="dropdown") #{options.header}

              div.dropdown

            //- Expandable Checkbox list

            div.inputs-block

              -
                var options = {
                  header: "expandable checkbox list",
                  dropdown: true,
                  items: [
                    {
                      type: "checkbox",
                      class: "checkbox",
                      name: "breakfast",
                      text: "Завтрак",
                      required: false
                    },
                    {
                      type: "checkbox",
                      class: "checkbox",
                      check: true,
                      name: "table",
                      text: "Письменный стол",
                      required: false
                    },
                    {
                      type: "checkbox",
                      class: "checkbox",
                      check: true,
                      name: "table",
                      text: "Стул для кормления",
                      required: false
                    },
                    {
                      type: "checkbox",
                      class: "checkbox",
                      check: true,
                      name: "babyBed",
                      text: "Кроватка",
                      required: false
                    },
                    {
                      type: "checkbox",
                      class: "checkbox",
                      name: "tv",
                      text: "Телевизор",
                      required: false
                    },
                    {
                      type: "checkbox",
                      class: "checkbox",
                      name: "Shampoo",
                      text: "Шампунь",
                      required: false
                    }
                  ]
                }
              +check-list(options)

        //- max width 260px
        div.form-elements-block-ui__column260
          form

            //- Checkbox 

            div.inputs-block

              -
                var options = {
                  header: "checkbox buttons",
                  items: [
                    {
                      type: "checkbox",
                      name: "smoke",
                      text: "Можно курить",
                      required: false
                    },
                    {
                      type: "checkbox",
                      check: true,
                      name: "pets",
                      text: "Можно с питомцами",
                      required: false
                    },
                    {
                      type: "checkbox",
                      check: true,
                      name: "party",
                      text: ["Можно пригласить гостей", "(до 10 человек)"],
                      required: false
                    }
                  ]
                }
              +check-list(options)

            //- Radio buttons

            div.inputs-block

              -
                var options = {
                  header: "checkbox buttons",
                  items: [
                    {
                      type: "radio",
                      check: true,
                      name: "sex",
                      text: "Мужчина",
                      required: false
                    },
                    {
                      type: "radio",
                      name: "sex",
                      text: "Женщина",
                      required: false
                    }
                  ]
                }
              +check-list(options)

            //- Toggle

            div.inputs-block

              -
                var options = {
                  header: "checkbox buttons",
                  items: [
                    {
                      type: "toggle",
                      check: true,
                      name: "privacy",
                      text: "Получать спецпредложения",
                      required: false
                    },
                    {
                      type: "toggle",
                      name: "pets",
                      text: "Согласиться на пытки",
                      required: false
                    }
                  ]
                }
              +check-list(options)

            //- Like button

            div.inputs-block

              -
                var options = {
                  header: "like button",
                  "default-value": 22
                }
              +like-button(options)


            //- Rate button

            div.inputs-block

              -
                var options = {
                  header: "rate button",
                  count: 5
                }
              +rate-button(options)

            //- Rich checkbox buttons

            div.inputs-block

              -
                var options = {
                  header: "rich Checkbox Buttons",
                  items: [
                    {
                      type: "checkbox",
                      rich: true,
                      title: "Широкий коридор",
                      name: "hall",
                      text: ["Ширина коридоров в номере", " не менее 91 см."],
                      required: false
                    },
                    {
                      type: "checkbox",
                      rich: true,
                      title: "Помощник для инвалидов",                 
                      name: "help",
                      text: ["На 1 этаже вас встретит специалист", "и проводит до номера."],
                      required: false
                    }
                  ]
                }
              +check-list(options)


        //- other elements
        div.form-elements-block-ui__column320
          form.form-ui()

            //- Range slider

            div.inputs-block
              -
                var options ={
                  header: "range-slider",
                  from: 5000,
                  to: 10000
                }
              +range-slider(options)


            //- Buttons            

            div.inputs-block.inputs-block_row
              -
                var options = {
                  title: "buttons",
                  button: "click me",
                }

              +button(options)
              +button({button: "click me", disabled: true})

            div.inputs-block.inputs-block_row

              +button({button: "click me", mod: "border"})
              +button({button: "click me", mod: "border", disabled: true})

            div.inputs-block.inputs-block_row

              +button({button: "click me", mod: "only-text"})
              +button({button: "click me", mod: "only-text", disabled: true})

            div.inputs-block
              +button({button: "перейти к оплате", mod: "large"})

            //- Pagination

            div.inputs-block

              span.inputs-block__header.inputs-block__header_extra-indent Pagination 

              div.pagination

            //- Bullet list

            div.inputs-block

              -
                var options = {
                  header: "bullet list",
                  items: [
                    {
                      text: "Нельзя с питомцами"
                    },
                    {
                      text: "Без вечеринок и мероприятий"
                    },
                    {
                      text: ["Время прибытия — после 13:00,", "а выезд до 12:00"]
                    },
                  ]
                }
              +bullet-list(options)

          //- Icon list and comment
    section.section-ui 

      div.icons-comments-block-ui

        //- Icon list
        -
          var options ={
            items: [
              {
                title: " Комфорт",
                icon: "images/svg/smile.svg",
                text: "Шумопоглащающие стены"
              },
              {
                title: " Комфорт",
                icon: "images/svg/city.svg",
                text: "Окно в каждой из спален"
              }
            ]
          }
        +icons-list(options)

        //- Comment

        - 
          var options = {
            items: [
              {
                author: "Мурад Сарафанов",
                avatar: "images/dist/comments/1.jpg" ,
                date: "5 дней назад",
                text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."
              }
            ]
          }

        +comments-list(options)

  +footer

