include ./parts/head
include ./parts/footer

+head() 

body 

  header.header-ui.container
    img(src="images/svg/toxin.svg" alt="toxin поиск номеров в отелях")

  main.container

    //- Intro
    section.section-ui 

      h1#intro
        | UI-Kit Макет

      p.t-text
        | UI-Kit — это единый макет дизайна и единая страница верстки, с которой берут типовые блоки и используют в конечных страницах.

    //- Colors & Type
    section.section-ui 

      h2#colorsAndFonts
        | Colors & Type 

      .colors-fonts 

        ul.colors-block-ui
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade  
            .colors-block-ui__title 
              span Dark Shade 100%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade75 
            .colors-block-ui__title 
              span Dark Shade 75%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade50  
            .colors-block-ui__title 
              span Dark Shade 50%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade25  
            .colors-block-ui__title 
              span Dark Shade 25%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade5  
            .colors-block-ui__title 
              span Dark Shade 5%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_purple  
            .colors-block-ui__title 
              span Purple
              span #BC9CFF
          li 
            .colors-block-ui__square.colors-block-ui__square_green  
            .colors-block-ui__title 
              span Green
              span #6FCF97


        ul.type-block-ui
          li
            span.type-block-ui__h1 H1
            h1 This one is the sub-section or widget title
          li
            span.type-block-ui__h2 H2
            h2 Next one is the item title inside widgets
          li
            span.type-block-ui__h3 H3
            h3 This is a label or CTA text
          li
            span.type-block-ui__t-text Body
            p.t-text This is the body text which is used for most of the design, like paragraphs, lists, etc.

    //- Form Elements
    section.section-ui 

      h2#formElements Form Elements
      //- Basic elements
      .form-elements-block-ui 
        .form-elements-block-ui__column320
          //- Text form
          form.t-form(type="get")
            div.t-form__element.input-wrapper
              label.input-wrapper__title(for="textField")  TEXT FIELD
              input.input-wrapper__field(type="text" id="textField" name="someText" placeholder="Some text...")

            //- Subscription form
            div.t-form__element.input-wrapper
              label.t-form__element.input-wrapper__title(for="maskedEmail") TEXT FIELD
              input.input-wrapper__field(type="text" id="maskedEmail" name="maskedEmail" placeholder="Email")
              input.input-wrapper__subscribe(type="submit" value="")

            //- Masked form
            div.t-form__element.input-wrapper
              label.input-wrapper__title(for="maskedDate") masked text field
              input.input-wrapper__field(type="text" id="maskedDate" name="maskedDate" placeholder="ДД.ММ.ГГГГ")

            //- Dropdown element
            div.t-form__element.input-wrapper
              span.input-wrapper__title(for="dropdown") dropdown
              div.input-wrapper__field.input-wrapper__field_drop-down 2 спальни, 2 кровати, 2 ванные комнаты
              ul.input-wrapper__select.dropdown-select   
                li.dropdown-select__option
                  input(type="number" hidden name="sleepingrooms" value="count")
                  span.dropdown-select__title спальни
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus.dropdown-select__plus_disable(type="button") +
                li.dropdown-select__option
                  input(type="number" hidden name="beds" value="count")
                  span.dropdown-select__title кровати
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus.dropdown-select__plus_disable(type="button") +
                li.dropdown-select__option
                  input(type="number" hidden name="bathrooms" value="count")
                  span.dropdown-select__title Ванные комнаты
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus.dropdown-select__plus_disable(type="button") +

            //- dropdown with accept button
            div.t-form__element.input-wrapper
              span.input-wrapper__title(for="dropdown") dropdown with accept button
              div.input-wrapper__field.input-wrapper__field_drop-down Сколько гостей
              ul.input-wrapper__select.dropdown-select   
                li.dropdown-select__option
                  input(type="number" hidden name="adults" value="count")
                  span.dropdown-select__title Взрослые
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus.dropdown-select__plus_disable(type="button") +
                li.dropdown-select__option
                  input(type="number" hidden name="children" value="count")
                  span.dropdown-select__title Дети
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus.dropdown-select__plus_disable(type="button") +
                li.dropdown-select__option
                  input(type="number" hidden name="baby" value="count")
                  span.dropdown-select__title Младенцы
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 5
                    button.dropdown-select__plus.dropdown-select__plus_disable(type="button") +
                li.dropdown-select__buttons 
                  button.dropdown-select__accept Применить

            //- dropdown with accept and clear buttons 
            div.t-form__element.input-wrapper
              span.input-wrapper__title(for="dropdown") dropdown with accept and clear buttons
              div.input-wrapper__field.input-wrapper__field_drop-down 3 гостя
              ul.input-wrapper__select.dropdown-select   
                li.dropdown-select__option
                  input(type="number" hidden name="adults" value="count")
                  span.dropdown-select__title Взрослые
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus(type="button") +
                li.dropdown-select__option
                  input(type="number" hidden name="children" value="count")
                  span.dropdown-select__title Дети
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 1
                    button.dropdown-select__plus(type="button") +
                li.dropdown-select__option
                  input(type="number" hidden name="baby" value="count")
                  span.dropdown-select__title Младенцы
                  div.dropdown-select__counter
                    button.dropdown-select__minus.dropdown-select__plus_disable(type="button") -
                    b.dropdown-select__count 0
                    button.dropdown-select__plus(type="button") +
                li.dropdown-select__buttons 
                  button.dropdown-select__clear Очистить
                  button.dropdown-select__accept Применить

        //- max width 260px
        div.form-elements-block-ui__column260
          form.t-form(type="get")

            //- Checkbox buttons
            div.t-form__element.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field Checkbox buttons 
              ul.input-wrapper__check-list
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="smoke")
                    div.input-wrapper__checkbox
                    span Можно курить
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="pets")
                    div.input-wrapper__checkbox
                    span Можно с питомцами
                li.input-wrapper__check-button
                  label.input-wrapper__check-label 
                    input(type="checkbox" name="party")
                    div.input-wrapper__checkbox
                    span Можно пригласить гостей (до 10 человек)

            //- Radio buttons
            div.t-form__element.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field Radio Buttons 
              ul.input-wrapper__check-list
                li.input-wrapper__check-button
                  label.input-wrapper__check-label
                    input(type="radio" name="sex")
                    div.input-wrapper__radio
                    span Мужчина
                li.input-wrapper__check-button
                  label.input-wrapper__check-label
                    input(type="radio" name="sex")
                    div.input-wrapper__radio
                    span Женщина

            //- Toggle
            div.t-form__element.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field toggle
              ul.input-wrapper__check-list
                li.input-wrapper__check-button
                  label.input-wrapper__check-label
                    input(type="checkbox" name="privacy")
                    div.input-wrapper__toggle
                    span Можно курить
                li.input-wrapper__check-button
                  label.input-wrapper__check-label
                    input(type="checkbox" name="subscribe")
                    div.input-wrapper__toggle
                    span Можно с питомцами
 

            //- Like button
            div.t-form__element.input-wrapper
              span.input-wrapper__title.input-wrapper__title_no-field like button

        






  +footer

