include ./parts/head
include ./parts/footer

+head() 

body 

  header.header-ui.container
    img(src="images/svg/toxin.svg" alt="toxin поиск номеров в отелях")

  main.container

    //- Intro
    section.section-ui 

      h1#intro
        | UI-Kit Макет

      p.t-text
        | UI-Kit — это единый макет дизайна и единая страница верстки, с которой берут типовые блоки и используют в конечных страницах.

    //- Colors & Type
    section.section-ui 

      h2#colorsAndFonts
        | Colors & Type 

      .colors-fonts 

        ul.colors-block-ui
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade  
            .colors-block-ui__title 
              span Dark Shade 100%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade75 
            .colors-block-ui__title 
              span Dark Shade 75%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade50  
            .colors-block-ui__title 
              span Dark Shade 50%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade25  
            .colors-block-ui__title 
              span Dark Shade 25%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_darkshade5  
            .colors-block-ui__title 
              span Dark Shade 5%
              span #1F2041
          li 
            .colors-block-ui__square.colors-block-ui__square_purple  
            .colors-block-ui__title 
              span Purple
              span #BC9CFF
          li 
            .colors-block-ui__square.colors-block-ui__square_green  
            .colors-block-ui__title 
              span Green
              span #6FCF97


        ul.type-block-ui
          li
            span.type-block-ui__h1 H1
            h1 This one is the sub-section or widget title
          li
            span.type-block-ui__h2 H2
            h2 Next one is the item title inside widgets
          li
            span.type-block-ui__h3 H3
            h3 This is a label or CTA text
          li
            span.type-block-ui__t-text Body
            p.t-text This is the body text which is used for most of the design, like paragraphs, lists, etc.

    //- Form Elements
    section.section-ui 

      h2#formElements Form Elements
      //- Basic elements
      .form-elements-block-ui 
        .form-elements-block-ui__column
          //- Text form
          form.t-form(type="get")
            label.t-form__element.input-wrapper(for="textField") 
              span.input-wrapper__title TEXT FIELD
              input.input-wrapper__field(type="text" id="textField" name="someText" placeholder="Some text...")
          //- Subscription form
          form.t-form(type="get")
            label.t-form__element.input-wrapper(for="maskedEmail") 
              span.input-wrapper__title TEXT FIELD
              input.input-wrapper__field(type="text" id="maskedEmail" name="maskedEmail" placeholder="Email")
            input.t-form__subscribe(type="submit" value="")
          //- Masked form
          form.t-form(type="get")
            label.t-form__element.input-wrapper(for="maskedDate") 
              span.input-wrapper__title masked text field
              input.input-wrapper__field(type="text" id="maskedDate" name="maskedDate" placeholder="ДД.ММ.ГГГГ")
          //- Dropdown element
          form.t-form(type="get")
            div.t-form__element.input-wrapper
              span.input-wrapper__title dropdown
              div.input-wrapper__field.input-wrapper__field_drop-down 2 спальни, 2 кровати
              ul.input-wrapper__select.dropdown-select   
                li.dropdown-select__option
                  span.dropdown-select__title спальни
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus(type="button") +
                li.dropdown-select__option
                  span.dropdown-select__title Кровати
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus(type="button") +
                li.dropdown-select__option
                  span.dropdown-select__title Ванные комнаты
                  div.dropdown-select__counter
                    button.dropdown-select__minus.dropdown-select__minus_disable(type="button") -
                    b.dropdown-select__count 0
                    button.dropdown-select__plus(type="button") +
          //- Dropdown element
          form.t-form(type="get")
            div.t-form__element.input-wrapper
              span.input-wrapper__title dropdown
              div.input-wrapper__field.input-wrapper__field_drop-down 2 спальни, 2 кровати
              ul.input-wrapper__select.dropdown-select   
                li.dropdown-select__option
                  span.dropdown-select__title спальни
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus(type="button") +
                li.dropdown-select__option
                  span.dropdown-select__title Кровати
                  div.dropdown-select__counter
                    button.dropdown-select__minus(type="button") -
                    b.dropdown-select__count 2
                    button.dropdown-select__plus(type="button") +
                li.dropdown-select__option
                  span.dropdown-select__title Ванные комнаты
                  div.dropdown-select__counter
                    button.dropdown-select__minus.dropdown-select__minus_disable(type="button") -
                    b.dropdown-select__count 0
                    button.dropdown-select__plus(type="button") +



  +footer

