mixin like-button(options)
    if (options.header)
      span.inputs-block__header.inputs-block__header_extra-indent #{options.header}
    div.like-button
      span.like-button__counter #{options["default-value"]}
